html {
  font-size: 10px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  background: #302f2f;
  display: flex;
  flex-direction: column;
}

main {
  flex: 3;
}

canvas {
  width: 100%;
  border: .5rem solid #515151;
}

aside {
  flex: 1;
  margin-top: 1.5rem;
}

button {
  background: #151414;
  text-align: left;
  font-family: inherit;
  padding: 1.6rem 0 1.6rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: #d4d2d2;
  border: none;
  border-bottom: 1px solid;
}

button:hover {
  background: #322f2f;
}

label {
  font-size: 1.8rem;
  padding-right: 1.6rem;
}

.input-wrapper {
  background: #808080;
  padding: 1.6rem;
}

.effects {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
}

.controls > button {
  flex: 1;
  border-bottom: none;
  text-align: center;
}



@media (min-width: 992px) {

  body {
    flex-direction: row;
  }

  aside {
    margin-top: 0;
    margin-left: 3rem;
  }

}
